PORT=5000
MONGO_URI=mongodb+srv://<username>:<password>@cluster-uri.mongodb.net/connect_green?retryWrites=true&w=majority
JWT_SECRET=your_jwt_secret_here

# Cloudinary Details
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# Admin Settings
ADMIN_EMAIL=aryathebasha@outlook.com
